<section class="cart py-16">
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/carrito2.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Lista de ordenes</h1>
        </div>
        <div class="pizza-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/licuado_banano.png" alt="">
                <div class="flex-1 ml-4">
                    <h1>Licuado de Banano</h1>
                    <span>Medio</span>
                </div>
                <span class="flex-1">1 vaso</span>
                <span class="font-bold text-lg">Q 10.00</span>
            </div>

            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹300</span>
            </div>

            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="">
                <div class="flex-1 ml-4">
                    <h1>Marinara</h1>
                    <span>MEDIUM</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">₹300</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Cantidad total:</span>
                <span class="amount text-2xl font-bold ml-2">Q 50.00</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Numero de telefono">
                    <input class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Direccion">
                    <div>
                        <button class="btn-primary px-6 py-2 rounded-full text-black font-bold mt-6" type="submit">Ordena
                            Ahora</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>